body {
    font-family: "Poppins", Poppons-medium;
    background-color: #3AA6B9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #FF9EAA;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header h3 {
    margin: 0;
    color: white;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  input[type="text"],
  textarea,
  select {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ecf0f1;
    color: #2c3e50;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  .peminatan {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #3AA6B9;
    color: #ecf0f1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #BDCDD6;
  }
  
  .alert {
    padding: 20px;
    background-color: #787A91;
    color: white;
    opacity: 0.9;
    transition: opacity 0.6s;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: none;
    z-index: 1000;
  }
  
  .alert p {
    margin: 0;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  